.App {
  text-align: center;
  margin: 40px auto;
  max-width: 650px;
  border-radius: 30px;

}

html {
  background-color: rgba(0, 0, 0, 0.60);
}

hr {
  border: 0;
  height: 2px;
  background-color: #00a6ff;
  margin: 5px 0;
}
.App > h1 {
  padding-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#equation-list {
  padding-bottom: 10px;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fake-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

app-container {
  text-align: center;
  margin-top: 50px;
}

#math-field-container {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
  margin: 20px ;
}
#math-field-container > p {
  margin: 5px 0 5px 0;
}

math-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 60px;
  font-size: clamp(1rem, 5vmin, 3rem);
}

.value-display {
  margin-top: 20px;
  font-size: 18px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
